.github-prs-jira-issue-badge {
    white-space: nowrap;
}

.github-prs {
    width: fit-content;
}

.github-prs-table{
    font-size: 12px;
}

.github-prs .github-prs-table .jira-issue-link {
    margin-right: 2px;
}

.github-prs-bottom {
    margin-top: 5px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.github-prs-table th {
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
}

.github-prs-table tr {
    vertical-align: middle;
    text-align: start;
}

.github-prs-table tr .title {
    font-size: 10px;
    vertical-align: middle;
}

.github-prs-table tr .pr-status {
    text-align: center;
}